@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}
/*HEADER STYLES*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgba(4, 6, 8, 0.7);
    backdrop-filter: blur(1.5px);
}

header img {
    width: 150px;   
}

header nav ul {
     list-style: none;
     display: flex;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;

    &:hover {
        color: #d9983e;
        transition: 0.7s ease;
    }
}

header nav ul li a.active {
    color: #d9983e;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(4, 6, 8, 0.7);
    padding: 1px;
    z-index: 1;
    border-radius: 10px;
    backdrop-filter: blur(0.5px);
}

.dropdown-symbol {
    color: #d9983e;
    margin-left: 5px;
    font-size: 0.6rem;
}

header nav ul li:hover {
   .dropdown {
          display: block;
   } 

   .dropdown li {
          width: 90px;
          background: none;
    }

    .dropdown li a {
          padding: 3px;
          background: none;
    }
}

/*FOOTER STYLES*/
footer {
    text-align: center;  
    border-top: 2px solid #d9983e; 
    padding: 10px;
    border-radius: 100px 100px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin: 5px;

    &:hover {
        color: #d9983e;
        transform: scale3d(1.5,1.5,1.5);
        transition: 0.6s ease, transform 0.6s;
        cursor: pointer;
    }
}

footer p {
    color: gray;
    margin-top: 15px;
    font-size: small;
    margin-bottom: 20px;
}

/* Home1 Section  */
.home1 {
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home1 img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.intro {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    background-color: rgba(67, 87, 108, 0.4); 
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(1px); 
}

.intro span {
    font-size: 2.5rem; 
    font-weight: bold;
    display: inline-block; 
    opacity: 0; 
    transform: translateY(30px);
    animation: SlideIn 2s forwards;
}

.intro span:first-child {
    color: #d9983e; 
    font-size: 5.8rem; 
    font-style: italic; 
    font-weight: bolder; 
}


@keyframes SlideIn {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.intro span:nth-child(1) { animation-delay: 0s; }
.intro span:nth-child(2) { animation-delay: 0.2s; }
.intro span:nth-child(3) { animation-delay: 0.4s; }
.intro span:nth-child(4) { animation-delay: 0.6s; }
.intro span:nth-child(5) { animation-delay: 0.8s; }
.intro span:nth-child(6) { animation-delay: 1s; }
.intro span:nth-child(7) { animation-delay: 1.2s; }

/* Home2 Section */
.home2 {
    background-color: rgba(67, 87, 108, 0.4);
    text-align: center; 
    padding: 20px; 
}

.home2 h2 {
    margin-bottom: 20px; 
}

.game-modes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

.classic, .ranked, .brawl, .vs_ai, .custom, .arcade {
    width: 175px; 
    background-color: rgba(67, 87, 108, 0.4);
    padding: 15px; 
    border-radius: 15px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    transition: transform 0.3s ease; 
}

.classic:hover, .ranked:hover, .brawl:hover, .vs_ai:hover, .custom:hover, .arcade:hover {
    transform: scale(1.05); 
}

.classic img, .ranked img, .brawl img, .vs_ai img, .custom img, .arcade img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
}

.classic p, .ranked p, .brawl p, .vs_ai p, .custom p, .arcade p {
    font-size: 1rem; 
    font-weight: bold;
    margin-top: 10px; 
}
/* Home3 Section */
.home3 {
    position: relative;
    background-image: url('assets/img/M6logo.png');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    color: white;
}

.m6-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.m6-text {
    flex: 1;
    padding-right: 20px;
}

.m6-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.m6-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.m6-image {
    flex: 1;
    text-align: right;
}

.m6-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* About Section Styles */
.about {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
    padding: 20px;
    margin-bottom: 30px;
}

.about h1 {
    border-bottom: 2px solid #d9983e; 
    font-size: 1.7rem; 
    color: #d9983e;
    text-align: center;
}

.about-cards {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-card {
    flex: 1 1 calc(33.333% - 40px);
    background-color: rgba(67, 87, 108, 0.4);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    min-width: 250px; 
    max-width: 300px; 
    opacity: 0;
    animation: FadeIn 1.5s ease forwards;
}

.about-card:hover {
    transform: scale(1.05); 
}

.about-cards p {
    font-size: 1rem;
    margin-top: 10px;
}

.about-card:nth-child(1) { animation-delay: 0.2s; }
.about-card:nth-child(2) { animation-delay: 0.4s; }
.about-card:nth-child(3) { animation-delay: 0.6s; }

/*heroes styles*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0 ;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    width: 180px;
    margin: 5px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s forwards;
    
    &:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
}

.card:nth-child(1) { animation-delay: 0.2s; }
.card:nth-child(2) { animation-delay: 0.4s; }
.card:nth-child(3) { animation-delay: 0.6s; }
.card:nth-child(4) { animation-delay: 0.8s; }
.card:nth-child(5) { animation-delay: 1s; }
.card:nth-child(6) { animation-delay: 1.2s; }
.card:nth-child(7) { animation-delay: 1.4s; }
.card:nth-child(8) { animation-delay: 1.6s; }
.card:nth-child(9) { animation-delay: 1.8s; }
.card:nth-child(10) { animation-delay: 2s; }
.card:nth-child(11) { animation-delay: 2.2s; }
.card:nth-child(12) { animation-delay: 2.4s; }
.card:nth-child(13) { animation-delay: 2.6s; }
.card:nth-child(14) { animation-delay: 2.8s; }
.card:nth-child(15) { animation-delay: 3s; }
.card:nth-child(16) { animation-delay: 3.2s; }
.card:nth-child(17) { animation-delay: 3.4s; }
.card:nth-child(18) { animation-delay: 3.6s; }
.card:nth-child(19) { animation-delay: 3.8s; }
.card:nth-child(20) { animation-delay: 4s; }
.card:nth-child(21) { animation-delay: 4.2s; }
.card:nth-child(22) { animation-delay: 4.4s; }
.card:nth-child(23) { animation-delay: 4.6s; }
.card:nth-child(24) { animation-delay: 4.8s; }
.card:nth-child(25) { animation-delay: 5s; }
.card:nth-child(26) { animation-delay: 5.2s; }
.card:nth-child(27) { animation-delay: 5.4s; }
.card:nth-child(28) { animation-delay: 5.6s; }
.card:nth-child(29) { animation-delay: 5.8s; }
.card:nth-child(30) { animation-delay: 6s; }
.card:nth-child(31) { animation-delay: 6.2s; }
.card:nth-child(32) { animation-delay: 6.4s; }
.card:nth-child(33) { animation-delay: 6.6s; }
.card:nth-child(34) { animation-delay: 6.8s; }
.card:nth-child(35) { animation-delay: 7s; }
.card:nth-child(36) { animation-delay: 7.2s; }

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .name {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 0 0 10px 10px; 
    font-size: 1rem;
    font-weight: 300;
    text-align: center; 
}

/*Highlights Styles*/

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.video-card {
    width: 250px;
    background-color: rgba(67, 87, 108, 0.4);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.video-card:hover {
    transform: scale(1.05);
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px 15px 0 0;
}

.card-content {
    padding: 10px;
    background-color: rgba(4, 6, 8, 0.7);
    border-radius: 0 0 15px 15px;
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.title-date {
    margin-bottom: 10px;
}

.video-title {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    margin: 0;
}

.date-uploaded {
    font-size: 0.8rem;
    color: gray;
    margin-top: 5px;
    display: block;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.likes-comments-shares {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.metric {
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}

.metric i {
    margin-right: 5px;
    color: #d9983e;
}

.metric span {
    font-weight: bold;
}

/*Responsive Styles*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        margin-top: 10px;
    }

    header nav ul li {
        margin: 5px;
    }

    header nav ul li a {
        font-size: small;
        border-right: 2px solid #d9983e;
        padding-right: 6px;
    }

    header img {
        width: 100px;
    }

    .dropdown {
        margin-top: 0;
    }

    .dropdown li a {
        border-right: none;
    }

    .home1 img {
        width: 100%;
    }

    .intro {
        padding: 15px;
    }

    .intro span {
        font-size: 1.2rem; 
        font-weight: bold;
    }

    .intro span:first-child {
        font-size: 2rem; 
        font-weight: bolder;
    }

    .game-modes {
        gap: 15px;
    }

    .classic, .ranked, .brawl, .vs_ai, .custom, .arcade {
        width: 120px;
        padding: 10px; 
    }

    .classic p, .ranked p, .brawl p, .vs_ai p, .custom p, .arcade p {
        font-size: 0.9rem; 
    }

    .m6-content {
        flex-direction: column;
        text-align: center;
    }

    .m6-text h2 {
        font-size: 1.5rem;
    }

    .m6-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .m6-image {
        text-align: center;
    }

    .about {
        padding: 10px; 
    }

    .about-card {
        flex: 1 1 calc(50% - 20px); 
    }

    .about-cards {
        padding: 10px; 
        gap: 15px; 
    }

    .about h1 {
        font-size: 1.5rem; 
    }

    .about-cards p {
        font-size: 0.9rem; 
    }

    .card {
        width: 100px;
        margin: 5px;
    }

    .card .name {
        font-size: 0.8rem;
    }

    footer {
        padding: 5px;
    }

    footer p {
        font-size: x-small;
    }
}

